/*------------------------------------*\
    $STYLES
\*------------------------------------*/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
body, html {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cormorant {
  font-family: Cormorant Garamond, serif;
}

.lato {
  font-family: Lato, serif;
}

.center-text {
  text-align: center;
}

/*------------------------------------*\
    $BUCLE COLORS
\*------------------------------------*/
.color-blue-raf-dark {
  color: #1EC1C1;
}

.bg-color-blue-raf-dark {
  background-color: #1EC1C1;
  border-radius: 1rem;
}

.color-blue-raf {
  color: #DDE4E9;
}

.bg-color-blue-raf {
  background-color: #DDE4E9;
  border-radius: 1rem;
}

.color-grey {
  color: #333333;
}

.bg-color-grey {
  background-color: #333333;
  border-radius: 1rem;
}

.color-black {
  color: #000000;
}

.bg-color-black {
  background-color: #000000;
  border-radius: 1rem;
}

/*------------------------------------*\
    $BUCLE FONT-SIZE
\*------------------------------------*/
.font-size-12 {
  font-size: 12px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-36 {
  font-size: 36px;
}

/*------------------------------------*\
    $BUCLE FONT-WEIGHT
\*------------------------------------*/
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/*------------------------------------*\
    $BUCLE PADDING-SPACE
\*------------------------------------*/
.padding_space--5 {
  padding-right: 5%;
  padding-left: 5%;
}

.padding_space--10 {
  padding-right: 10%;
  padding-left: 10%;
}

.padding_space--15 {
  padding-right: 15%;
  padding-left: 15%;
}

.padding_space--20 {
  padding-right: 20%;
  padding-left: 20%;
}

/*------------------------------------*\
    $BUCLE GRID_CELL
\*------------------------------------*/
.grid_cell--5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(5% - 16px);
          flex: 0 0 calc(5% - 16px);
  margin: 0 0px;
}

.grid_cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(10% - 16px);
          flex: 0 0 calc(10% - 16px);
  margin: 0 0px;
}

.grid_cell--15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(15% - 16px);
          flex: 0 0 calc(15% - 16px);
  margin: 0 0px;
}

.grid_cell--20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 16px);
          flex: 0 0 calc(20% - 16px);
  margin: 0 0px;
}

.grid_cell--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 16px);
          flex: 0 0 calc(25% - 16px);
  margin: 0 0px;
}

.grid_cell--30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(30% - 16px);
          flex: 0 0 calc(30% - 16px);
  margin: 0 0px;
}

.grid_cell--35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(35% - 16px);
          flex: 0 0 calc(35% - 16px);
  margin: 0 0px;
}

.grid_cell--40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 16px);
          flex: 0 0 calc(40% - 16px);
  margin: 0 0px;
}

.grid_cell--45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(45% - 16px);
          flex: 0 0 calc(45% - 16px);
  margin: 0 0px;
}

.grid_cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
  margin: 0 0px;
}

.grid_cell--55 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(55% - 16px);
          flex: 0 0 calc(55% - 16px);
  margin: 0 0px;
}

.grid_cell--60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(60% - 16px);
          flex: 0 0 calc(60% - 16px);
  margin: 0 0px;
}

.grid_cell--65 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(65% - 16px);
          flex: 0 0 calc(65% - 16px);
  margin: 0 0px;
}

.grid_cell--70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(70% - 16px);
          flex: 0 0 calc(70% - 16px);
  margin: 0 0px;
}

.grid_cell--75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 16px);
          flex: 0 0 calc(75% - 16px);
  margin: 0 0px;
}

.grid_cell--80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(80% - 16px);
          flex: 0 0 calc(80% - 16px);
  margin: 0 0px;
}

.grid_cell--85 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(85% - 16px);
          flex: 0 0 calc(85% - 16px);
  margin: 0 0px;
}

.grid_cell--90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(90% - 16px);
          flex: 0 0 calc(90% - 16px);
  margin: 0 0px;
}

.grid_cell--95 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(95% - 16px);
          flex: 0 0 calc(95% - 16px);
  margin: 0 0px;
}

.grid_cell--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 16px);
          flex: 0 0 calc(100% - 16px);
  margin: 0 0px;
}

/*------------------------------------*\
    $BUCLE MARGIN
\*------------------------------------*/
.margin_space--5 {
  margin-right: 5%;
  margin-left: 5%;
}

.margin_space--10 {
  margin-right: 10%;
  margin-left: 10%;
}

.margin_space--15 {
  margin-right: 15%;
  margin-left: 15%;
}

.margin_space--20 {
  margin-right: 20%;
  margin-left: 20%;
}

/*------------------------------------*\
    $MEDIA QUERY BODY
\*------------------------------------*/
@media all and (min-width: 700px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2%;
    height: 100%;
  }

  html {
    height: 100%;
  }
}
/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*------------------------------------*\
    $MEDIA QUERY BODY
\*------------------------------------*/
@media all and (min-width: 700px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
scroll-container section article li {
  list-style: none;
}

h1 {
  margin: auto;
  text-align: center;
}

h2, h3, h4 {
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: 8px;
  padding-left: 2%;
}

p {
  margin: 0 8px;
  margin-bottom: 36px;
  padding-left: 2%;
}

br {
  margin-top: 12px;
}

.linea {
  border-top: 1px solid #858585;
  height: 2px;
  max-width: 95%;
  margin: 10px auto 0 auto;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hamburger {
  display: none;
}

.hamitems {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
}

.hamnav input:checked ~ .hamitems {
  display: block;
  position: absolute;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.hamitems a {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.hamnav svg {
  font-size: 12em;
  font-style: normal;
  padding: 10px;
}

@media all and (min-width: 700px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hamitems {
    right: auto;
  }

  .hamnav input:checked ~ .hamitems {
    -webkit-transform: translateX(30%) translateY(-50px);
            transform: translateX(30%) translateY(-50px);
  }
}
.perfil {
  padding-top: 12px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.avatar {
  position: relative;
  width: 245px;
  height: 281px;
  border: solid 5px #1EC1C1;
  border-radius: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-image: url("../images/foto-perfil.jpg");
}

.sergio-perfil {
  display: none;
  margin: auto;
  margin-top: 12px;
  padding-bottom: 0.4rem;
  width: 85%;
  text-align: center;
}

.perfil-descripcion {
  margin: auto;
  margin-top: 24px;
  padding-left: 0%;
  padding-bottom: 1rem;
  width: 85%;
  text-align: center;
}

@media all and (min-width: 700px) {
  .sergio-perfil {
    display: block;
  }

  .perfil-descripcion {
    margin-top: 0px;
  }
}
@media all and (max-width: 244px) {
  .avatar {
    width: 97%;
    background-color: transparent;
  }
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 2048px;
  width: 95%;
}

.formulario {
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.formulario--contenido {
  border: solid 1px #333333;
  border-radius: 5px;
  padding: 16px;
  max-width: 100%;
  min-width: 100%;
}

.formulario--button {
  background-color: #1EC1C1;
  border: none;
  border-radius: 5px;
  padding: 6px;
}

.formulario--button:hover {
  background-color: #4D6272;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

textarea {
  min-height: 120px;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.sergio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  padding-left: 5%;
  padding-right: 5%;
}

/*------------------------------------*\
    $MEDIA QUERY SERGIO
\*------------------------------------*/
@media all and (min-width: 700px) {
  .sergio {
    display: none;
  }

  .header {
    padding-left: 0%;
    padding-right: 2%;
  }
}
.skills {
  width: 100%;
}

.ol-skills {
  padding-left: 0px;
  list-style-type: none;
}

.margin-skills {
  margin: 1rem;
  margin-bottom: 12px;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.last-skills {
  padding-bottom: 24px;
}

.aficiones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2%;
  margin-bottom: 0px;
}

.aficiones li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-bottom: 36px;
}

.aficiones :first-child {
  padding-top: 0;
}

.aficiones li span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.derechos {
  margin-top: 12px;
  margin-bottom: 12px;
}

scroll-container {
  display: block;
  width: 100%;
  max-height: 100%;
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}