/*------------------------------------*\
    $STYLES
\*------------------------------------*/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
body, html {
  height: 100%;
}

.cormorant {
  font-family: Cormorant Garamond, serif;
}

.lato {
  font-family: Lato, serif;
}

/*------------------------------------*\
    $BUCLE COLORS
\*------------------------------------*/
.color-blue-raf-dark {
  color: #9EB3C2;
}

.bg-color-blue-raf-dark {
  background-color: #9EB3C2;
}

.color-blue-raf {
  color: #DDE4E9;
}

.bg-color-blue-raf {
  background-color: #DDE4E9;
}

.color-grey {
  color: #333333;
}

.bg-color-grey {
  background-color: #333333;
}

.color-black {
  color: #000000;
}

.bg-color-black {
  background-color: #000000;
}

/*------------------------------------*\
    $BUCLE FONT-SIZE
\*------------------------------------*/
.font-size-12 {
  font-size: 12px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-36 {
  font-size: 36px;
}

/*------------------------------------*\
    $BUCLE FONT-WEIGHT
\*------------------------------------*/
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/*------------------------------------*\
    $BUCLE PADDING-SPACE
\*------------------------------------*/
.padding_space--5 {
  padding: 5%;
}

.padding_space--10 {
  padding: 10%;
}

.padding_space--15 {
  padding: 15%;
}

.padding_space--20 {
  padding: 20%;
}

.padding_space--25 {
  padding: 25%;
}

.padding_space--30 {
  padding: 30%;
}

.padding_space--35 {
  padding: 35%;
}

.padding_space--40 {
  padding: 40%;
}

.padding_space--45 {
  padding: 45%;
}

.padding_space--50 {
  padding: 50%;
}

.padding_space--55 {
  padding: 55%;
}

.padding_space--60 {
  padding: 60%;
}

.padding_space--65 {
  padding: 65%;
}

.padding_space--70 {
  padding: 70%;
}

.padding_space--75 {
  padding: 75%;
}

.padding_space--80 {
  padding: 80%;
}

.padding_space--85 {
  padding: 85%;
}

.padding_space--90 {
  padding: 90%;
}

.padding_space--95 {
  padding: 95%;
}

.padding_space--100 {
  padding: 100%;
}

/*------------------------------------*\
    $BUCLE GRID_CELL
\*------------------------------------*/
.grid_cell--5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(5% - 16px);
          flex: 0 0 calc(5% - 16px);
  margin: 0 8px;
}

.grid_cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(10% - 16px);
          flex: 0 0 calc(10% - 16px);
  margin: 0 8px;
}

.grid_cell--15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(15% - 16px);
          flex: 0 0 calc(15% - 16px);
  margin: 0 8px;
}

.grid_cell--20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 16px);
          flex: 0 0 calc(20% - 16px);
  margin: 0 8px;
}

.grid_cell--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 16px);
          flex: 0 0 calc(25% - 16px);
  margin: 0 8px;
}

.grid_cell--30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(30% - 16px);
          flex: 0 0 calc(30% - 16px);
  margin: 0 8px;
}

.grid_cell--35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(35% - 16px);
          flex: 0 0 calc(35% - 16px);
  margin: 0 8px;
}

.grid_cell--40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 16px);
          flex: 0 0 calc(40% - 16px);
  margin: 0 8px;
}

.grid_cell--45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(45% - 16px);
          flex: 0 0 calc(45% - 16px);
  margin: 0 8px;
}

.grid_cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
  margin: 0 8px;
}

.grid_cell--55 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(55% - 16px);
          flex: 0 0 calc(55% - 16px);
  margin: 0 8px;
}

.grid_cell--60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(60% - 16px);
          flex: 0 0 calc(60% - 16px);
  margin: 0 8px;
}

.grid_cell--65 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(65% - 16px);
          flex: 0 0 calc(65% - 16px);
  margin: 0 8px;
}

.grid_cell--70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(70% - 16px);
          flex: 0 0 calc(70% - 16px);
  margin: 0 8px;
}

.grid_cell--75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 16px);
          flex: 0 0 calc(75% - 16px);
  margin: 0 8px;
}

.grid_cell--80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(80% - 16px);
          flex: 0 0 calc(80% - 16px);
  margin: 0 8px;
}

.grid_cell--85 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(85% - 16px);
          flex: 0 0 calc(85% - 16px);
  margin: 0 8px;
}

.grid_cell--90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(90% - 16px);
          flex: 0 0 calc(90% - 16px);
  margin: 0 8px;
}

.grid_cell--95 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(95% - 16px);
          flex: 0 0 calc(95% - 16px);
  margin: 0 8px;
}

.grid_cell--100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 16px);
          flex: 0 0 calc(100% - 16px);
  margin: 0 8px;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hamburger {
  display: none;
}

.hamitems {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamnav input:checked ~ .hamitems {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.hamitems a {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.hamnav svg {
  font-size: 12em;
  font-style: normal;
  padding: 10px;
}

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/