//-----> $MIXINS

// @mixin tittle {
//     font: {
//       family: $cormorant;
//       size: #{font-size-36};
//     }
// }

// h1 {
//     @include tittle;
// }                                 tengo que arreglar el error del "tittle" por que no existe, investigar

$medium		: 56.25em;

@mixin max-width($max-width : $pagemaxwidth, $width: 100%)  {
	max-width: $max-width;
	width: $width;
}

@mixin min-width($min-width : $pageminwidth, $width: 100%)  {
	min-width: $min-width;
	width: $width;
}