body, html {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

* {
    box-sizing: border-box;
}

//-----> $COLORS

$blue-raf-dark:     #9EB3C2;
$blue-raf-standard: #DDE4E9;
$grey:              #333333;
$black:             #000000;

//-----> $TYPOGRAPHY // $FONTS

$cormorant: Cormorant Garamond, serif;
$lato:      Lato, serif;
$font-size: 12;
$font-weight: 100;
$padding-space: 5;

.cormorant {
    font-family: $cormorant;
}

.lato {
    font-family: $lato;
}

.center-text {
    text-align: center;
}
 
//-----> $SPACE

$unit: 6px;
$space: $unit * 2;
$space--medium: $space * 1.5;
$padding: $unit;
$pagemaxwidth: 1024px;
$grid_cell: 5;

/*------------------------------------*\
    $BUCLE COLORS
\*------------------------------------*/

$brand-colors: (
'blue-raf-dark':    $blue-raf-dark,
'blue-raf':         $blue-raf-standard,
'grey':             $grey,
'black':            $black
);

@each $color-name, $value in $brand-colors {
    .color-#{$color-name} {
        color: $value;
    }
    .bg-color-#{$color-name} {
        background-color: $value;
    }
}

/*------------------------------------*\
    $BUCLE FONT-SIZE
\*------------------------------------*/

@while $font-size <= 36 {
    .font-size-#{$font-size} {
        font-size: ($font-size * 1px);
    }

    $font-size: $font-size + 6;
}

/*------------------------------------*\
    $BUCLE FONT-WEIGHT
\*------------------------------------*/

@while $font-weight <= 900 {
    .font-weight-#{$font-weight} {
        font-weight: ($font-weight * 1);
    }

    $font-weight: $font-weight + 100;
}
 
/*------------------------------------*\
    $BUCLE PADDING-SPACE
\*------------------------------------*/


@while $padding-space <= 100 {
    .padding_space--#{$padding-space} {
        padding: ($padding-space * 1%);
    }

    $padding-space: $padding-space + 5;
}

/*------------------------------------*\
    $BUCLE GRID_CELL
\*------------------------------------*/

@while $grid_cell <= 100{
    .grid_cell--#{$grid_cell} {
        flex: 0 0 calc(#{$grid_cell * 1%} - 16px);
        margin: 0 0px;
    }
    $grid_cell: $grid_cell + 5;
}