.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hamburger {
  display: none;
}

.hamitems {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  display: block;
  position: relative;
  right: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamnav input:checked ~ .hamitems {
  display: block;
  position: absolute;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hamitems a {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  text-decoration: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.hamnav svg {
  font-size: 12em;
  font-style: normal;
  padding: 10px;
}