.aficiones {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
}

.aficiones li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-bottom: 36px;
}

.aficiones :first-child {
    padding-top: 0;
}


.aficiones li span {
    align-items: center;
}