.sergio {
    display: flex;
}

.header {
    padding-left: 16px;
    padding-right: 5%;
}

/*------------------------------------*\
    $MEDIA QUERY SERGIO
\*------------------------------------*/

@media all and (min-width: 700px) {
    .sergio {
        display: none;
    }
}