.skills {
    width: 100%;
}

.ol-skills {
    padding-left: 0px;
    list-style-type: none;
}

.margin-skills {
    margin: 1rem;
    margin-bottom: 12px;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.last-skills {
    padding-bottom: 24px;
}