.formulario {
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.formulario--contenido{
    border: solid 1px $grey;
    border-radius: 5px;
    padding: 16px;
}

.formulario--button {
    border: solid 1px $grey;
    border-radius: 5px;
    padding: 16px;
}