.formulario {
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.formulario--contenido{
    border: solid 1px $grey;
    border-radius: 5px;
    padding: 16px;
    max-width: 100%;
    min-width: 100%;
}

.formulario--button {
    background-color: $blue-raf-dark;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.formulario--button:hover {
    background-color: $grey-hover;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

textarea {
    min-height: 120px;
}