.perfil {
    padding-top: 36px;
}

.avatar {
    // display: inline-block;
    position: relative;
    width: 286px;
    height: 330px;
    background-color: #afb6ae;
    border: solid 5px $blue-raf-dark;
    border-radius: 0%;
    background-image: url('../../images/foto-perfil.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    // &:hover {
    //     transform: scale(1.2) rotate(180deg) translateX(-30%);
    //     box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.5);
    // }
}

.sergio-perfil {
    display: none;
    margin: auto;
    margin-top: 24px;
    padding-bottom: 12px;
    width: 85%;
    text-align: center;
}

.perfil-descripcion {
    margin: auto;
    margin-top: 24px;
    padding-bottom: 36px;
    padding-left: 0%;
    width: 85%;
    text-align: center;
}

@media all and (min-width: 700px) {
    .sergio-perfil {
        display: block;
    }
    .perfil-descripcion {
        margin-top: 0px;
    }
}