.perfil {
    padding-top: 12px;
    height: max-content;
    max-width: 680px;
    margin-left: 16px;
    margin-right: 16px;
}

.avatar {
    // display: inline-block;
    position: relative;
    width: 100%;
    border: solid 5px $blue-raf-dark;
    border-radius: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;

    // &:hover {
    //     transform: scale(1.2) rotate(180deg) translateX(-30%);
    //     box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.5);
    // }
    &__img {
        border-radius: 16px;
        margin: auto;
    }
}

.sergio-perfil {
    display: none;
    margin: auto;
    margin-top: 12px;
    padding-bottom: 0.4rem;
    width: 85%;
    text-align: center;
}

.perfil-descripcion {
    margin: auto;
    margin-top: 24px;
    padding-left: 0%;
    padding-bottom: 1rem;
    width: 85%;
    text-align: center;
}

@media all and (min-width: 700px) {
    .sergio-perfil {
        display: block;
    }
    .perfil-descripcion {
        margin-top: 0px;
    }
}

@media all and (max-width: 244px) {
    .avatar {
        width: 97%;
        background-color: transparent;
    }
}